@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px; 
}

h1 {
    font-size: 26px;
    line-height: 30px;
    padding-top: 17px;
}

.delete {
    border-radius: 50%;
    border: 1px solid #C4C4C4;
    background-color: white;
    color: #C4C4C4;
    font-size: 12px;
    padding: 3px 5px;
}

.pic {
    border-radius: 50%;
    background-color: #9953F1;
    color: white;
    font-size: 14px;
    line-height: 16px;
    padding: 3px 5px;
}

.main {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 336px;
    background-color: #FFDC40;
}
.main, .new-task {
    border: 1px solid #C4C4C4;
    border-radius: 10px;
}

.line {
    background-color: white;
    text-align: center;
}

.new-task {
    margin: 12px 25px;
}

.task {
    width: 75%;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
    border: none;
}

input:focus {
    outline: none;
}
button {
    border: none;
    background-color: white;
}
.action {
    padding: 10px;
    margin-bottom: 19px;
    background-color: #833AE0;
    color: white;
}