@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px; 
}

h1 {
    font-size: 26px;
    line-height: 30px;
}

.clear, .delete {
    border-radius: 50%;
    border: 1px solid #C4C4C4;
    background-color: white;
    color: #C4C4C4;
    font-size: 12px;
    padding: 3px 5px;
}

.main {
    margin: 0px auto;
    width: 336px;
    background-color: #FFDC40;
}
.main, .task-list, .new-task {
    border: 1px solid #C4C4C4;
    border-radius: 10px;
}

.line {
    background-color: white;
    text-align: center;
}

.new-task, .task-list {
    margin: 12px 25px;
}

.task, .task-item p {
    width: 75%;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
}

.task-item {
    align-items: center;
    display: flex;

}

input {
    border: none;
}
input:focus {
    outline: none;
}